body {
	counter-reset: item;
}

ol#kom-i-gang {
	margin-left: 0;
    padding-right: 0;
	list-style: none;
}

ol#kom-i-gang li {
   counter-increment: item;
}

ol#kom-i-gang li:before {
   content: counter(item);
   color: #F9CE06;
   font-size: 4em;
}


.icon-text-circle.info_box {
	padding: 20px;
}

.icon-text-circle.info_box:hover {
	background-color: #F9CE06;
	color: #fff;
}

.google-maps, .youtube {
	position: relative;
	padding-bottom: 56%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe, .youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
}

.google-maps iframe {
	height: 50% !important;
}

.youtube iframe {
	height: 100% !important;
}
