.icon-text-circle.info_box {
	padding: 20px;
}

.icon-text-circle.info_box:hover {
	background-color: #F9CE06;
	color: #fff;
}

.google-maps, .youtube {
	position: relative;
	padding-bottom: 56%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe, .youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
}

.google-maps iframe {
	height: 50% !important;
}

.youtube iframe {
	height: 100% !important;
}