dl.kom-i-gang {
	counter-reset: item;
}

dl.kom-i-gang dt {
	position: relative;
	padding-top: 21px;
	font-size: 2em;
}

dl.kom-i-gang dt:before {
	content: counter(item);
	counter-increment: item;
	position: absolute;
	left: 0;
	top: 0;
	color: #F9CE06;
	font-size: 2em;
}

dl.kom-i-gang dt, dl.kom-i-gang dd {
	padding-left: 50px;
}

.icon-text-circle.info_box {
	padding: 20px;
}

.icon-text-circle.info_box:hover {
	background-color: #F9CE06;
	color: #fff;
}

.google-maps, .youtube {
	position: relative;
	padding-bottom: 56%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}

.google-maps iframe, .youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
}

.google-maps iframe {
	height: 50% !important;
}

.youtube iframe {
	height: 100% !important;
}

.two.spacing.utstyr-beskrivelse {
	clear: both;
}

.utstyr-beskrivelse img {
	float: left;
	margin-right: 20px;
}
