---
layout: default
section_id: home

slides:
  - bg: images/16_9474---Padel-170127-01-web.jpg
    tagline: Spill padel i Oslo-området!
  - bg: images/16_9532---Padel-170127-01-web.jpg
    tagline: Spill padel i Oslo-området!
  - bg: images/16_9557---Padel-170127-01-web.jpg
    tagline: Spill padel i Oslo-området!
  - bg: images/16_9558---Padel-170127-01-web.jpg
    tagline: Spill padel i Oslo-området!

info:
  - title: Hva er padel
    desc: Regler? Hvordan spiller jeg? Er dette tennis eller squash?
    url: /hva-er-padel
  - title: Inspirasjon
    desc: Se noen av verdens beste spille padel
    url: /inspirasjon
  - title: Utstyr
    desc: Hva slags utstyr trenger jeg for å spille padel?
    url: /utstyr
---

<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: 'self',
    accessToken: '4259037020.1677ed0.4a4002a88aec4c67a1e3100221a1b17e',
    clientId: 'd67461a7bf0b40d2a1c40e1a83cd3cf2'
  });
  feed.run();
</script>

<div class='full no-padding'>
  
<div class='one spacing'></div>

  <div class='row'>
    <div class='large-12 columns'>
      <a href="{{ site.baseurl }}{% link _posts/2017-04-30-inngang.markdown %}">
        <p class='headline'>Les om bruk av egen Fornebu Padel inngang i sommer</p>
      </a>
    </div>
  </div>

  <div class='row'>
    <div class='large-9 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for slide in page.slides %}
            <div class='slide'>
              <img alt="" src="{{slide.bg}}" />
              <div class='caption'>
                <h2>{{slide.tagline}}</h2>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class='large-3 columns'>
      <h3>Åpningstider</h3>
      <p>Alle dager 06:00 - 24:00.</p>
      <p>Fra 29. april ut sommeren er golfsenteret stengt og <a href='/hvor-er-vi'>egen Fornebu Padel dør</a> må benyttes.</p>
      <h3>Priser</h3>
      <p>I ukedagene mellom 16:00 og 22:00 koster det NOK 400 for å leie en bane en time.</p>
      <p>Andre tider i ukedagene og i helgene koster det NOK 320.</p>
      <h3>Utstyr</h3>
      <p>Racketer kan leies eller kjøpes i golfbutikken når <a href="http://figc.no/AApningstider-8095.htm" target="_blank">golfsenteret er åpent</a>. Baller kan også kjøpes i golfbutikken. <a href="/utstyr">Lær mer om utstyr</a>.</p>
    </div>
  </div>

</div>

<div class='full no-padding'>

  <div class='spacing'></div>
  
  <div class='row'>
    <div class='large-12 columns'>
      <p style='font-size: 1.5rem; font-style: italic;'>
      Nå er det mulig å spille padel i Oslo-området. Fornebu Padel tilbyr tre innendørs padelbaner av høyeste kvalitet til utleie. Du trenger ingen erfaring eller spesialutstyr for å prøve denne sporten som tar deler av Europa med storm. Vi tilbyr racketer til billig utleie og du kan spille med vanlig idrettsklær. <a href="/kom-i-gang">Prøv padel i dag</a>!
      </p>
    </div>
  </div>
  <hr>

</div>

<div class='two spacing'></div>

<div class='row'>
  {% for info in page.info %}
    <div class='medium-3 large-3 columns'>
      <div class='mod modIconText'>
        <a href="{{info.url}}">
          <div class='icon-text-circle info_box'>
            <h3>{{info.title}}</h3>
            <p>{{info.desc}}</p>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
    <div class='medium-3 large-3 columns'>
      <div class='mod modIconText'>
        <a href="{{site.matchi_fp_url}}" target="_blank">
          <div class='icon-text-circle info_box'>
            <h3>Bestill bane</h3>
            <p>Det er lett å bestille baner hos Fornebu Padel</p>
          </div>
        </a>
      </div>
    </div>
</div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Fornebu Padel på Instagram ( <a href='https://www.instagram.com/fornebupadel' target="_blank"'>se mer</a> )
    </h3>
    <div id="instafeed"></div>
    <div class='spacing'></div>
  </div>
</div>

<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>

<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Nyheter
      /
      <a href='/blog'>Les mer</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for post in site.posts %}
    {% if forloop.index > 3 %}
      {% break %}
    {% endif %}

    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost no_bg simple'>
        {% for image in post.images %}
          {% if forloop.index > 1 %}
            {% break %}
          {% endif %}
          <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="{{post.url}}">{{post.title}}</a></h4>
          <p>{{post.excerpt | truncatewords: 25 }}</p>
        </div>
      </div>
    </div>

  {% endfor %}
  <div class='two spacing'></div>
</div>