---
layout: default
---

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Fornebu Padel gruppespill - resultater</h2>
      <p>Følgende viser innrapporterte resultater for gruppespillet. Klikk på måneden for å se resultater for den måneden. Resultater må rapporteres via e-post til <a href='mailto:info@fornebupadel.no'>info@fornebupadel.no</a> så snart kampen er ferdigspilt. Se <a href='/gruppespill'>videre regler</a> om gruppespill.</p>
      <ul class="accordion" data-accordion>
        {% include_relative months/201804.html %}
        {% include_relative months/201803.html %}
        {% include_relative months/201802.html %}
      </ul>
    </div>
  </div>
  <div class='two spacing'></div>
</div>