---
layout: blog
---

<div class='mod modBlogPost big no_bg'>
  {% unless page.hide_post_images %}
  <div class='images'>
    {% for image in page.images %}
      <div class='image'>
        <img alt="" src="{{site.url}}/{{image}}" />
      </div>
    {% endfor %}
  </div>
  {% endunless %}
  <div class='content'>
    <p class='info'>
      <span>{{page.date | date: "%B %d, %Y" }}</span>
      /
      <span>
        av
        <a href="">{{page.author}}</a>
      </span>
      /
      <span>
        i
        {% for cat in page.categories %}
          <a href="#">{{cat}}</a>
          {% unless forloop.last %}
              ,
          {% endunless %}
        {% endfor %}
      </span>
    </p>
    <h3><a href="{{page.url}}">{{page.title}}</a></h3>
    {{content}}
  </div>
</div>
<div class='two spacing'></div>
